body{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    background-color: #242B33;
    color: #ffffff;
    box-sizing: border-box;
}
body *{
    box-sizing: inherit;
}
.ovh{
    overflow: hidden;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Playfair Display', serif;
    color: #D4C17F;
}
h1{
    font-size: 48px;
    max-width: 560px;
    margin: 0 auto;
}
img{
    width: 100%;
}
a, a i:before{
    color: #ffffff;
    text-decoration: none;
    transition: color 400ms;
    outline: none !important;
}
a:hover, a:hover i:before{
    color: #D4C17F;
}
a img{
    transition: opacity 400ms;
}
a img:hover{
    opacity: 0.8;
}
#begin{
    background: linear-gradient(180deg, #242B33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242B33 92.19%), url(../img/bg1.jpg) center no-repeat;
    background-size: cover;
    height: 100vh;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
header{
    padding-top: 34px;
    width: 100%;
}
.container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.row{
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap;
}
.df{
    display: flex;
}
.aic{
    align-items: center;
}
.aie{
    align-items: flex-end;
}
.jcb{
    justify-content: space-between;
}
.jcc{
    justify-content: center;
}
.logo{
    width: 134px;
    display: block;
}
.menu{
    display: flex;
}
.menu-item{
    margin-left: 39px;
}
.txt-begin{
    text-align: center;
}
.mouse{
    margin-top: 90px;
    font-size: 40px;
    transition: transform 400ms;
}
.mouse:hover{
    transform: scale(1.2);
}
.contact i{
    font-size: 21px;
    margin-right: 14px;
}
.contact p, .contact a{
    display: inline-flex;
    align-items: center;
    font-size: 18px;
}
.mlcont{
    margin-left: 70px;
}
.pd{
    padding-left: 15px;
    padding-right: 15px;
}
.top-contacts{
    padding-bottom: 74px;
}
#about .container{
    padding-top: 90px;
}
.about-col{
    text-align: center;
    margin-top: 30px;
    padding-left: 35px;
    padding-right: 35px;
}
.about-col i{
    font-size: 80px;
}
.about-col p{
    font-size: 20px;
    font-weight: 300;
    padding-top: 53px;
    line-height: 1.35;
}
.nomer{
    position: absolute;
    font-size: 400px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    opacity: 0.02;
    line-height: 1.3325;
}
.pr{
    position: relative;
}
#about .nomer{
    top: -27px;
}
.right-nomer{
    right: 15px;
    transform: translateX(48.17276%);
}
#lofts .nomer{
    top: 82px;
}
.left-nomer{
    left: 15px;
    transform: translateX(-50%);
}
h2{
    font-weight: 700;
    font-size: 36px;
}
#lofts h2{
    padding-top: 120px;
    padding-bottom: 100px;
}
.col-50, .col-25{
    padding-right: 15px;
    padding-left: 15px;
}
.col-50{
    width: 50%;
}
.col-25{
    width: 25%;
}
.lofts-col, .form-col{
    padding-bottom: 30px;
}
.lofts-col p{
    font-size: 24px;
}
.imgloft{
    height: 320px;
    background-size: cover;
    background-position: center;
}
.grad{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    height: 100%;
    background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242B33 100%);
}
h3{
    font-weight: 700;
    font-size: 36px;
    padding-bottom: 35px;
}
.left-form p{
    font-size: 16px;
    line-height: 1.5;
}
.form2-col{
    margin-top: 35px;
}
.right-form p{
    font-size: 13px;
}
.tac{
    text-align: center;
}
form input, form button{
    background-color: rgba(255,255,255,0.2);
    border: none;
    height: 50px;
    width: 100%;
    animation: input 4s;
}
    @keyframes input{
        0%,
        20%,
        40% {
            transform: scale(0.5);
            opacity: 0.3;
        }
        30%,
        60%,
        85% {
            transform: scale(1);
            opacity: 1;
        }
        100%{
            opacity: 1;
            transform: scale(1) rotate(540deg);
        }
}
form input, form input::placeholder{
    text-align: center;
    color: #bebebe;
    font-size: 14px;
}
form button{
    background-color: #d4c17f;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    transition: transform 400ms;
}
form button:hover{
    transform: scale(1.1);
}
#form{
    background: linear-gradient(180deg, #242B33 10.42%, rgba(36, 43, 51, 0) 50.52%, #242B33 90.1%), linear-gradient(0deg, rgba(36, 43, 51, 0.9), rgba(36, 43, 51, 0.9)), url(../img/build.jpg)#C4C4C4;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 157px;
    padding-bottom: 140px;
}
.img-video{
    width: 719px;
    height: 650px;
    margin: 0 auto;
}
.mask-video{
    height: 100%;
    background-color: rgba(36, 43, 51, 0.8);
}
.icon-play{
    font-size: 100px;
}
#video .nomer{
    top: 71px;
}
#video{
    padding-top: 20px;
}
h4{
    font-weight: 700;
    font-size: 36px;
    padding-top: 180px;
    padding-bottom: 100px;
}
.form-maps{
    display: flex;
    justify-content: center;
    padding-bottom: 180px;
}
.form-maps iframe{
    width: 1110px;
    height: 358px;
}
#maps .nomer{
    top: 143px;
}
h5{
    font-weight: 700;
    font-size: 36px;
}
#form-questions form{
    padding-top: 15px;
    padding-bottom: 180px; 
}
.form2-col p{
    font-size: 13px;
}
footer .menu{
    flex-direction: column;
}
footer .menu-item{
    margin-left: 0;
    margin-bottom: 15px;
}
.contacts p{
    margin-left: 0;
    margin-bottom: 15px; 
}
.soc-icon{
    margin-left: -20px;
}
.soc-icon a{
    margin-left: 20px;
}
.soc-icon a i{
    font-size: 20px;
    height: 20px;
    width: 20px;
    display: block;
    position: relative;
}
.soc-icon a .icon-yb{
    font-size: 28.26px;  
    width: 28.26px;  
}
.soc-icon a .icon-vk{
    font-size: 35.05px;
    width: 35.05px;
}
.soc-icon a i:before{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.contacts{
    margin-bottom: 15px;
}
#footer{
    padding-top: 57px;
    padding-bottom: 45px;
    background: #2D343C;
}
.myAnimate{
    animation: myAnimate 4s;
}
    @keyframes myAnimate{
    0%,
    30%,
    60% {
        transform: scale(1);
        opacity: 0.5;
    }
    10%,
    40%,
    70% {
        transform: scale(1.2);
        opacity: 1;
    }
    100%{
        opacity: 1;
        transform: scale(1) rotate(-360deg);
    }
}